.button {
  font-size: 1.5rem;
  padding: 1.5rem 1.75rem;
  border: 1px solid var(--bay-wharf);
  color: var(--bay-wharf);
  transition: background-color .2s ease, box-shadow .25s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px var(--lime-soap);
  }
}

.button--primary {
  background: var(--clear-chill);
  border-color: var(--clear-chill);
  color: white;
}

.button--danger {
  background: var(--watermelon);
  border-color: var(--watermelon);
  color: white;
}

.button--link {
  background: transparent;
  padding: 0;
  border: 0;
  color: var(--clear-chill);
  cursor: pointer;
}

.button--link:hover {
  text-decoration: underline;
}

.button--link:focus {
  box-shadow: none;
}

.button--icon {
  display: inline-flex;
  align-items: center;

  > svg {
    margin-right: 1rem;
    fill: currentColor;
  }
}

.button:disabled {
  opacity: 0.3;
}