.environment {
    position: relative;
}

.environment__content {
    padding-left: 1.5rem;
    border-left: 1px solid var(--twinkle-blue);
}

.environment__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--prestige-blue);
    margin-bottom: 1rem;
}

.environment__remove {
    position: absolute;
    right: 2px;
    top: 4px;
    transform: translate(50%, -50%);
    color: white;
    border-radius: 50%;
    border: 1px solid var(--twinkle-blue);
    outline: 2px solid white;
    background-color: white;
    line-height: 0;
    z-index: 10;
    padding: 4px;
    display: block;

    &:hover {
        border-color: var(--watermelon);

        path {
            fill: var(--watermelon);
        }
    }
}
