.environment {
    position: relative;
    padding-right: 40px;
    margin-right: -40px;
}

.environment__content {
    padding-left: 1.5rem;
    border-left: 1px solid var(--twinkle-blue);
}

.environment__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--prestige-blue);
    margin-bottom: 1rem;
}

.environment__remove {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.environment:hover .environment__remove {
    display: block;
}