$form-field-padding-y: 1rem;
$form-field-padding-x: 1.2rem;

.form-field {
    margin-bottom: 2rem;
    border: 1px solid var(--twinkle-blue);
    border-radius: 3px;
    align-items: baseline;
    position: relative;
}

.form-field:last-child {
    margin-bottom: 0;
}

.form-field__label,
.form-field__input {
    line-height: 1.2; // Cannot be 1, Chrome enforces a miniumum line-height on inputs
    display: block;
    width: 100%;
}

.form-field__label {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--bay-wharf);
    position: relative;
    z-index: 1;
    padding: $form-field-padding-y $form-field-padding-x 0;
}

.form-field__input {
    font-size: 1.6rem;
    padding: $form-field-padding-y $form-field-padding-x;
    border: 0;
    margin: 0;
    background-color: transparent;
}

.form-field__input:focus {
    outline: none;
    border-color: var(--clear-chill);
}

.form-field__validation {
    font-size: 1.1rem;
    color: var(--peace);
    position: absolute;
    top: $form-field-padding-y;
    right: $form-field-padding-x;
}

.form-field__validation.error {
    color: var(--watermelon);
}

// --hero

.form-field--hero {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    .form-field__label,
    .form-field__input {
        padding-left: 0;
        padding-right: 0;
    }

    .form-field__input {
        font-size: 4rem;
        font-weight: bold;
    }
}

// Form Groups

.form-group {
    display: flex;
    margin-bottom: 2rem;

    .form-field {
        margin-bottom: 0;
        flex: 1;

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px; // border collapse
        }
    }
}

.form-group--right-bias {
    .form-field:first-child {
        max-width: 30%;
    }
}

// State

.form-field.focus {
    border-bottom-color: var(--clear-chill);
    z-index: 1;
}

.form-field.focus .form-field__label {
    color: var(--clear-chill);
}

// value state
//.form-field.value .form-field__label {
//    opacity: 0;
//}

//.form-field.value {
//    border-bottom-color: var(--ufo-green);
//}

// error state
//.form-field.error {
//    border-color: var(--watermelon);
//}
