.modal {
    position: absolute;
    background-color: rgba(5, 10, 20, 0.9);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.25s ease-in-out;
    overflow: auto;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 5rem;
    line-height: 0.25;
    cursor: pointer;
    color: var(--prestige-blue);
    background: transparent;
    font-family: 'Times New Roman', serif;
    outline: none;

    &:hover {
        color: var(--clear-chill);
    }
}

.modal__content {
    position: relative; // For the close button
    border-radius: 10px;
    max-width: 680px;
    margin: 6rem auto;
    box-shadow: 0 1px 10px rgba(0,0,0,0.6);
    overflow: hidden;
}

.modal__title {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 0;
    padding: 2.5rem 2rem 0;
    background: white;
    color: var(--prestige-blue);
}

.modal__body {
    background-color: white;
    padding: 3rem;
}

.modal__actions {
    background: white;
    display: flex;
}

.modal__action {
    flex: 1;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    padding: 2rem;
    font-size: 1.3rem;
    text-align: center;
    border: 0;
    font-weight: 600;

    svg {
        transform: translateX(0);
        transition: transform 0.2s ease;
    }

    path {
        fill: currentColor;
    }

    &:focus {
        outline: none;
    }
}

.modal__action--advance {
    background-color: var(--clear-chill);
    color: white;

    svg {
        margin-left: 1rem;
    }

    &:hover {
        svg {
            transform: translateX(0.5rem);
        }
    }
}

.modal__action--muted {
    background-color: var(--city-lights);
    color: var(--prestige-blue);

    svg {
        margin-right: 1rem;
    }

    &:hover {
        svg {
            transform: translateX(-0.5rem);
        }
    }
}

body.has-modal {
    overflow: hidden;
}
