.form-field {
	margin-bottom: 1.5rem;
	padding: 0.5rem 1.5rem;
	border: 1px solid var(--peace);
	border-radius: 4px;
	display: flex;
	align-items: baseline;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
}

.form-field.has-focus {
	border-color: var(--clear-chill);
	position: relative;
}

.form-field:last-child {
	margin-bottom: 0;
}

.form-field__label {
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-right: 1rem;
	color: var(--bay-wharf);
	flex: 0 1 auto;
}

.form-field.has-focus .form-field__label {
	color: var(--clear-chill);
}

.form-field__input {
	padding: 0.8rem 1rem;
	border: 0;
	font-size: 1.4rem;
	flex: 1 0 auto;
}

.form-field__input:focus {
	outline: none;
	border-color: var(--clear-chill);
}

.form-field__helper {
	font-size: 1.2rem;
	color: var(--peace);
}

.form-field__helper--error {
	color: var(--watermelon);
}

.form-group .form-field:first-child {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-group .form-field:last-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}