.header {
	padding: 1.5rem 2rem;
	background-color: var(--prestige-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4rem;
}

.header__title {
	font-size: 1.8rem;
	margin-left: 1rem;
	color: white;
}

.header__strap {
	text-transform: uppercase;
	font-size: 1.4rem;
	padding-left: 1.5rem;
	margin-left: 1.5rem;
	border-left: 1px solid var(--bay-wharf);
	color: var(--twinkle-blue);
}

.header__subtitle {
	font-size: 1.6rem;
	font-weight: normal;
	color: var(--twinkle-blue);
	margin-bottom: 0;
}