.button {
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	border-radius: 2rem;
	border: 1px solid var(--bay-wharf);
	color: var(--bay-wharf);
	text-transform: uppercase;
	transition: background-color .2s ease;
}

.button--primary {
	background: var(--clear-chill);
	border-color: var(--clear-chill);
	color: white;
}