.modal {
	position: relative;
}

.modal__backdrop {
	position: fixed;
	background-color: rgba(47, 53, 66, 0.95);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.modal__dialog {
	background-color: white;
	border-radius: 1rem;
	max-width: 640px;
	margin: 4rem auto;
	padding: 2rem 3rem;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.5);
	overflow: hidden;
}

.modal__header {
	font-size: 1.8rem;
	text-align: center;
	margin: -2rem -3rem 2rem;
	padding: 2rem 3rem;
	border-bottom: 1px solid var(--city-lights);
}

.modal__footer {
	margin: 2rem -3rem 0;
	padding: 2rem 3rem 0;
	border-top: 1px solid var(--city-lights);
	text-align: right;
}

.modal__footer > button {
	margin-left: 1rem;
}